{
  "name": "com.powvpn.client",
  "description": "Pow VPN browser tunnel bridge",
  "path": "__POW_NATIVE_HOST_PATH__",
  "type": "stdio",
  "allowed_origins": ["chrome-extension://__POW_CHROME_EXTENSION_ID__/"]
}